<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The main information about the agenda, the venue and the registration.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/agenda.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agenda</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">
                                        Check out the agenda for this conference.
                                        It will be available as soon as the commitee will chose the proposals at the end of the call for papers.
                                    </p>
                                </div>
                                <a href="#agendaModal" class="btn btn-xl" data-toggle="modal">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/venue.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Venue</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Learn more about our Conference location in detail</p>
                                </div>
                                <a href="#venueModal" class="btn btn-xl" data-toggle="modal">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/registration.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Join us</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Register for the conference! It's free!</p>
                                </div>
                                {% if site.conference.registration == true %}
                                <a href="#" class="page-scroll btn btn-xl">Register</a>
                                {% else %}
                                <a href="#" class="page-scroll btn btn-xl">Open Soon</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Conference</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>