<div class="sessions-modal modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Agenda</h2>
                            <hr class="star-primary">
                            {% if site.conference.sessions == false %}
                            <p class="text-muted">
                                The committee is working on the proposals. The agenda will be published soon!
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if site.conference.sessions == true %}
                <div class="row">
                    {% for session in site.data.sessions %}
                    <div class="col-lg-12 text-center">
                        Time: <strong>{{ session.time }}</strong>
                        <div class="sessions-caption">
                            <h4>{{ session.title }}</h4>
                            {% for speaker in session.speakers %}
                                {% assign speaker-id = speaker.id | minus:1 %}
                                {% assign speakerinfo = site.data.speakers[speaker-id] %}
                                <p class="text-muted">{{ speakerinfo.name }} - {{ speakerinfo.position }}</p>
                            {% endfor %}
                            <p class="text-justify">{{ session.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>