<!-- Intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome to the Internet of Things and Industry 4.0 conference</h2>
                    <p class="text-muted">
                        The IoT Day Italy is a conference with the main focus on the “Internet of Things” from the makers to business applications.
                        You will see what are the main technologies and related platforms that can be used for developing your own IoT solution today.
                        The Industry 4.0 world will be an important topic as well, discovering that we are living the 4th industrial revolution right now.
                        Finally, the digital transformation which is around as in our daily life.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Internet of Things</h4>
                    <p class="text-muted">
                        Is IoT only a buzz word or a real business?
                        What are the technologies available today for working on that?
                        Let's answer to all your questions about that.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Industry 4.0</h4>
                    <p class="text-muted">
                        Do you know that we are living the 4th industrial revolution?
                        It's already happening now!
                        All the main industrial companies are adopting IoT technologies for that.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-institution fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Transformation</h4>
                    <p class="text-muted">
                        Technologies are all around us with their influence in all aspects of human society.
                        Let's see how they are changing our daily life and our interaction with them.
                    </p>
                </div>
            </div>
        </div>
    </section>