 <!-- Sessions Modals -->
 {% for session in site.data.sessions %}
    <div class="sessions-modal modal fade" id="sessionModal{{ session.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            Time: <strong>{{ session.time }}</strong>
                            <h2>{{ session.title }}</h2>
                            <hr class="star-primary">
                            <p class="text-justify">{{ session.description }}</p>
                            <ul class="list-inline item-details">
                                {% assign speaker-id = session.speaker-id | minus:1 %}
                                {% assign speaker = site.data.speakers[speaker-id] %}
                                <li>Speaker:
                                    <strong><a href="#speakerModal{{ session.id }}" class="sessions-link" data-toggle="modal">{{ speaker.name }} - {{ speaker.position }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
