<div class="sessions-modal modal fade" id="venueModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Venue</h2>
                        <hr class="star-primary">
                        <p class="text-muted">The IoT Day Italy will be hosted at Università degli Studi di Napoli Federico II</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48301.16444621158!2d14.205670044000286!3d40.83185619857716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133ba7923b9b9d3f%3A0xcf27f380dd726ab7!2sUniversit%C3%A0+degli+Studi+di+Napoli+Federico+II+-+Scuola+Politecnica+e+delle+Scienze+di+Base+-+Complesso+Napoli+Est!5e0!3m2!1sen!2sit!4v1530955088523" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <h3>Università degli Studi di Napoli Federico II - Scuola Politecnica e delle Scienze di Base - Complesso Napoli Est.</h3>
                        <p class="text-muted">  
                            <strong>Corso Nicolangelo Protopisani, 70, 80146 Napoli NA</strong>
                        </p>
                        <p>
                            Note: The University has a free of charge parking place for the attendees who want to come by car.
                        </p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>