<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include intro.html %}
    {% include sessions.html %}
    {% include about.html %}
    {% include speakers.html %}
    {% include sponsors.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include session.html %}
    {% include speaker.html %}
    {% include venue.html %}
    {% include agenda.html %}
    {% include js.html %}

    </body>
</html>